@(category: models.Category, products: java.util.List[Product])
@import tools.web.UrlNormalizer;

@main("Virtual shop - the best e-commerce place") { 
	<h1>@category.getName()</h1>
	@if(products != null && products.size() > 0){
	<ul>
		@for(product <- products){
		<li>
			<a href="@routes.ProductController.showOne(category.getId(), UrlNormalizer.normalizeToUrl(product.getName()), product.getId())">@product.getName()</a>
		</li>
		}
	</ul>
	}else{
	<p>They're no products for this category</p>
	}
}